srsRAN-5G-ER/build
srs-4G-UE/build
edgeric-v2/muApp2/outputs
radio_network/srsRAN-5G-ER/build/
radio_network/srs-4G-UE/build/
edgeric-v2/muApp2/outputs/
radio_network/srs-4G-UE/build/
*.a
*.so
*.so.*
radio_network/protobuf-cpp-*.tar.gz
__pycache__/
*.pyc
*.pyo
*.pyd
logs/
oldLogs/
edgeric-v2/__pycache__/
edgeric-v2/muApp1/vwd_policy_decisions.csv
radio_network/srsRAN-5G-ER/scheduling-final.txt
scheduling-final.txt
